<div id="st-container" class="st-container">
  <nav class="st-menu st-effect-2" id="menu-2">
    <h2 class="icon icon-stack"></h2>
    <div class="body row scroll-y">
      <ul class="listings">
      </ul>
    </div>
  </nav>

  <div class="st-pusher">

<div class="st-content">
      <div id='mappy'></div>
      <div class="st-content-inner">
          <h1 class="codrops-header">
            FuelFinder
            <div id="search" class="search">
              <input class="search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
              <input class="search-submit" type="submit" value="">
              <span class="icon-search"></span>
            </div>
            <!-- <div id="search-box">
              <input id="search-input" type="text" placeholder="Find alternative fuel stations"></input>
              <!-- <input id="search-button" type="submit" value="Search"> -->
            </div>
          </h1>
        </header>
        <div class="main clearfix">
        </div>
      </div>
    </div>
  </div>
</div>



