<div id='mappy'></div>

<h1 class="codrops-header">
  FuelFinder
  <div id="search" class="search">
    <input class="search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
    <input class="search-submit" type="submit" value="">
    <span class="icon-search"></span>
  </div>
</h1>

<div class="bottom-bar">
  <ul id="station-show" class="row scroll-y">
    <header class="show-page-header">
      <h2>NAME</h2>
    </header>
         
  <li class="show-column1">
    <div id="map">
      <img src="http://api.tiles.mapbox.com/v3/pzula.h69mf89n/pin-m-car(-104.987981,39.711518)/-104.987981,39.711518,16/250x250.png">
    </div>
  </li>
        
  <li class="show-column2">
    <strong>Location: </strong> location </br>
    <strong>Open: </strong></br>
    <strong>Fuel Type: </strong>ELEC<br/>
    <strong>Payments Accepted:</strong> credit
  </li>

    <li class="show-column3">
      <p>Reviews for this station:</p></br>
      <button id="review"> Review this station </button>
     </li>
  </ul>
</div>

<div class='review-form'>
  <button id="close-form"> x </button>
  <h3 class="form-header"> Share what you know about this station! </h3>
  <%= render partial: '/reviews/review_form', locals: { station_id: @station_id } %>
</div>

<script>

 

$('.review-form').hide();
//   $("button#review").click(function (e){
//     $('.review-form').toggle();
//   });
//   $("button#close-form").click(function (e){
//     $('.review-form').hide();
//   });
</script>
