<div id='mappy'></div>

<h1 class="codrops-header">
  FuelFinder
  <div id="search" class="search">
    <input class="search-input" placeholder="Enter your search term..." type="search" name="search" id="search">
    <input class="search-submit" type="submit" value="">
    <span class="icon-search"></span>
  </div>
</h1>

<div class="bottom-bar">
  <ul id="station-show" class="row scroll-y">
  </ul>
</div>
