/*
 *= require normalize
 *= require map
 *= require_self
 */

/*------------------ home page ----------------*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: 'codropsicons';
}

body {
  background: #444;
  color: #e67e22;
  font-weight: 300;
  font-family: 'Lato', Calibri, Arial, sans-seriff;
}

a {
  text-decoration: none;
  color: #FFA300;
  outline: none;
}

a:hover, a:focus {
  color: #ffae19;
  outline: none;
}

body {
  margin:0;
  padding:0;
  }

.codrops-header {
  text-align: left;
  background: image-url('opacitydark.png');
  margin: 0;
  padding: 0;
}

h1.codrops-header  {
  padding: 0.2em;
  font-weight: 300;
  font-size: 2.625em;
  position: relative;
}

button {
  border: none;
  background: blue;
  cursor: pointer;
  padding: 0.6em 1.2em;
}

button:hover {
  background: #D36300;
}


/*---------------  scroll bar ---------------------*/

.body.row { top: 0px; bottom: 0px; }
.row,  { 
  position: absolute;
  word-wrap: break-word; }

.row { left: 0; right: 0; }
.scroll-y { 
  overflow-y: auto; 
  margin: 0; 
  padding: 0;
  padding-right: 5px;
  margin-bottom: 20px;}

/*---------------------- show ------------------------*/
header.show-page-header {
  text-align: center;
  background: image-url('opacitydark.png');
  padding-top: 3em;
}

div.bottom-bar {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background: image-url('opacitydarker.png');
  border-bottom: 1px solid #a3a30e;
  color: #515100;
  height: 200px;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index:0;
}

ul#station-show {
  box-sizing: border-box;
  height: 134px;
  -webkit-padding-start: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

.station-show li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-right: 1px solid #efe3c6;
  float: left;
  margin: 0;
  width: 33.33%;
  height: 134px;
  display: list-item;
  text-align: -webkit-match-parent;
}

header.show-page-header {
  margin: -2em -1em 0 0;
  padding: 0 0 0 0;
  z-index: 998
}

.show-page-header h2 {
  font-weight: 200;
  font-size: 200%;
  line-height: 1.3em;
  margin-bottom: 0;
  color: #D36300;
}

#map img,
.show-column1,
.show-column2,
.show-column3 {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background-color: transparent;
  color: #D36300;
  display: block;
  height: 134px;
  float: left;
  padding: 0 5px 5px 5px;
  margin: 0 5px 5px 5px;
}

.show-column3 p{
  margin: 0;
  padding:10px 0 10px;
  }

/*=--------------- review form -------------------*/
fieldset {
  border:none;
}

.review-form label {
  text-align: left;
  float:left;
}

fieldset {
  margin: 0 2px;
  padding: 10px 8px;
}

fieldset.review-name {
  float:left;
  width: 33%;
  margin-left: 5px;
}

fieldset.review-email {
  float:right;
  width: 33%;
  margin-right: 5px;
}

fieldset.review-body label {
  float:left;
  text-align:left;
}

fieldset.review-body input[type=text] {
  width:33%;
}

.review-form textarea {
  display:block;
  width:33%
}

.top-form-wrapper {
  overflow:hidden;
}

.review-body{
  border: 0px;
}

div.review-form, .reviews-summary {
  background: image-url('opacitydark.png');
  padding: 0.2em 2em;
  text-align: center;
  font-size: 1em;
  font-weight: 200;
  border-radius: 3px 3px 0 0;
}

.review-form h3.form-header {
  text-align: center;
  font-weight: 300;
  }

  button#close-form {
    float: right;
    padding-top: 0px;
    padding-bottom: 4px;
    padding-right: 9px;
    padding-left: 9px;
    margin-right: 3px;
    margin-left: 3px;
    background: #fff;
    border-radius: 30px;
  }

button.show-page  {
  display: block;
  margin: 0 auto;
  width: 100%;
  font-size: 1em;
  z-index: 101;
  background: #fff;
  padding:1em;
  position: absolute;
  top: 10px;
  line-height:0.25em;
  right: 420px;
}

.station-reviews {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 8em;
}

div.review {
  padding-bottom: 15px;
  border-bottom: 1px dotted #ccc;
}

div.review:last-child {
  border-bottom: 0px;
}

h2.review-title{
  font-size: 1em;
  text-align: left;
}

h5.title {
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 0;
  margin:0;
}

p.reviewer {
  font-size: 0.75em;
  letter-spacing: 1px;
  padding: 0;
  margin:0;
  text-align: right;
}

p.content {
  margin-top: -1em;
  height: auto;
  font-size:0.75em;
  font-weight: normal;
  text-align: left;
}

// -------------------show page 
.search {
  margin-top: -1.1em;
  margin-right: 7%;
  position: relative;
  height: 50px;
  float: right;
  overflow: hidden;
  -webkit-transition: width 0.3s;
  -moz-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-backface-visibility: hidden;
}

.search-input {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  outline: none;
  background: #fff;
  width: 55%;
  height: 30px;
  margin: 5px;
  z-index: 10;
  padding-left: 5px;
  font-family: inherit;
  font-size: 16px;
  color: #2c3e50;
}

input[type="search"].search-input {
  -webkit-appearance: none;
}

.search-input::-webkit-input-placeholder {
  color: #efb480;
}

.search-input:-moz-placeholder {
  color: #efb480;
}

.search-input::-moz-placeholder {
  color: #efb480;
}

.search-input:-ms-input-placeholder {
  color: #efb480;
}

.icon-search,
.search-submit  {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  padding: 0;
  margin: 0;
  text-align: center;
  cursor: pointer;
}

.search-submit {
  background: #fff; /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

.icon-search {
  color: #fff;
  background: #e67e22;
  z-index: 90;
  -webkit-font-smoothing: antialiased;
}

.icon-search:before {
  content: image-url('search.png');
}

/* Open state */
.search.search-open,
.no-js .search {
  width: 100%;
}

.search.search-open .icon-search,
.no-js .search .icon-search {
  background: #da6d0d;
  color: #fff;
  z-index: 11;
}

.search.search-open .search-submit,
.no-js .search .search-submit {
  z-index: 90;
}

@media screen and (max-width: 46.0625em) {
  .column {
    width: 100%;
    min-width: auto;
    min-height: auto;
    padding: 2em; 
    text-align: center;
  }

  .column p {
    font-size: 1.5em;
  }

  .column:nth-child(2) {
    text-align: center;
    box-shadow: 0 -1px 0 rgba(0,0,0,0.1);
  }
}

@media screen and (max-width: 25em) {

  .codrops-header {
    font-size: 80%;
  }

  .codrops-top {
    font-size: 120%;
  }
}

